---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getDocPages, getDocPagesList } from "../../utils/pages";
import { PagesNavigation } from "../../components/pages-navigation/PagesNavigation";
import { getFrameworkDisplayText } from "../../utils/framework";
import type { Framework } from "../../types/ag-grid";

export async function getStaticPaths() {
    const pages = await getCollection("docs");
    return getDocPages(pages);
}

const { page } = Astro.props;
const { framework } = Astro.params;
const { title, enterprise } = page.data;

const { Content } = await page.render();

const allDocPages = await getCollection("docs");
const pages = getDocPagesList(allDocPages);
---

<Layout
    title={`${getFrameworkDisplayText(
        framework as Framework
    )} Charts: AG Charts`}
    showTopBar={true}
>
    <PagesNavigation
        client:load
        slot="aside"
        pages={pages}
        framework={framework!}
    />

    <main>
        <h1>[{framework}]: {title} {enterprise ? "[e]" : ""}</h1>
        <Content framework={framework} page={page} />
    </main>
</Layout>
