---
import { getFavIconsData, getAppleTouchIconsData } from "../utils/favicons";
import SiteHeader from "../components/site-header/SiteHeader.astro";
import "../design-system/design-system.scss";
import { Footer } from "../components/footer/Footer";

export interface Props {
    title: string;
    description?: string;
}

const { title, description = "AG Charts website" } = Astro.props;
const path = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        {
            getFavIconsData().map(({ size, icon }: any) => (
                <link
                    rel="icon"
                    type="image/png"
                    sizes={`${size}x${size}`}
                    href={icon}
                />
            ))
        }
        {
            getAppleTouchIconsData().map(({ size, icon }: any) => (
                <link
                    rel="apple-touch-icon"
                    sizes={`${size}x${size}`}
                    href={icon}
                />
            ))
        }
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <SiteHeader />
        <main>
            <slot />
        </main>
        <Footer path={path} />
    </body>
</html>

<style lang="scss">
    @use "../design-system" as *;

    body {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
    }

    main {
        margin: $size-3 auto;
        max-width: 1000px;
    }
</style>
